src/ui_beacon_lang/ui_beacon_validator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning">

    <!-- Reusable complex type for base attributes -->
    <xs:complexType name="BaseComponentAttributes">
        <xs:attribute name="description" type="xs:string" use="optional" />
        <xs:attribute name="visibleWhen" type="xs:string" use="optional" />
        <xs:attribute name="position" type="xs:string" use="optional" />
        <xs:attribute name="name" type="xs:string" use="optional" />
    </xs:complexType>

    <!-- Reusable complex type for interactive components -->
    <xs:complexType name="InteractiveComponentAttributes">
        <xs:complexContent>
            <xs:extension base="BaseComponentAttributes">
                <xs:attribute name="label" type="xs:string" use="optional" />
                <xs:attribute name="action" type="xs:string" use="optional" />
                <xs:attribute name="icon" type="xs:string" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Group for all child elements except Page -->
    <xs:group name="ChildElements">
        <xs:choice>
            <xs:element ref="Option" />
            <xs:element ref="DropDown" />
            <xs:element ref="Button" />
            <xs:element ref="List" />
            <xs:element ref="Nav" />
            <xs:element ref="CheckBox" />
            <xs:element ref="Text" />
            <xs:element ref="Section" />
            <xs:element ref="Link" />
            <xs:element ref="RadioGroup" />
            <xs:element ref="TextInput" />
            <xs:element ref="Wrapper" />
            <xs:element ref="Form" />
            <xs:element ref="DateSelector" />
        </xs:choice>
    </xs:group>

    <!-- Text Element -->
    <xs:element name="Text">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BaseComponentAttributes">
                    <xs:attribute name="value" type="xs:string" use="required" />
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>


    <!-- DateSelector Element -->
    <xs:element name="DateSelector">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="InteractiveComponentAttributes">
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>


    <!-- Form Element -->
    <xs:element name="Form">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BaseComponentAttributes">
                    <xs:sequence>
                        <xs:group ref="ChildElements" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>


    <!-- Option Element -->
    <xs:element name="Option">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="InteractiveComponentAttributes">
                    <xs:attribute name="value" type="xs:string" use="required" />
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- RadioGroup Element -->
    <xs:element name="RadioGroup">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="InteractiveComponentAttributes">
                    <xs:choice maxOccurs="unbounded">
                        <xs:element ref="Option" minOccurs="0" />
                        <xs:element ref="Nav" minOccurs="0" />
                    </xs:choice>

                    <xs:attribute name="text" type="xs:string" use="optional" />
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>


    <!-- DropDown Element -->
    <xs:element name="DropDown">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="InteractiveComponentAttributes">
                    <xs:choice maxOccurs="unbounded">
                        <xs:element ref="Option" minOccurs="0" />
                        <xs:element ref="Nav" minOccurs="0" />
                    </xs:choice>

                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Button Element -->
    <xs:element name="Button">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="InteractiveComponentAttributes" />
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- List Element -->
    <xs:element name="List">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BaseComponentAttributes">
                    <xs:sequence>
                        <xs:element ref="ListItem" minOccurs="0" maxOccurs="1" />
                    </xs:sequence>
                    <xs:attribute name="orientation" use="optional">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="horizontal" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Wrapper Element -->
    <xs:element name="Wrapper">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BaseComponentAttributes">
                    <xs:sequence>
                        <xs:group ref="ChildElements" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                    <xs:attribute name="orientation" use="optional">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="horizontal" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- ListItem Element -->
    <xs:element name="ListItem">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BaseComponentAttributes">
                    <xs:sequence>
                        <xs:group ref="ChildElements" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Nav Element -->
    <xs:element name="Nav">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="InteractiveComponentAttributes">
                    <xs:sequence>
                        <xs:group ref="ChildElements" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                    <xs:attribute name="to" type="xs:string" use="required" />
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- CheckBox Element -->
    <xs:element name="CheckBox">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="InteractiveComponentAttributes" />
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Section Element -->
    <xs:element name="Section">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BaseComponentAttributes">
                    <xs:sequence>
                        <xs:group ref="ChildElements" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                    <xs:attribute name="label" type="xs:string" use="required" />
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Link Element -->
    <xs:element name="Link">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="InteractiveComponentAttributes">
                    <xs:attribute name="to" type="xs:string" use="required" />
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- TextInput Element -->
    <xs:element name="TextInput">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="InteractiveComponentAttributes">
                    <xs:attribute name="placeholder" type="xs:string" use="optional" />
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Header Element -->
    <xs:element name="Header">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="ChildElements" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="position" type="xs:string" use="optional" />
            <xs:attribute name="description" type="xs:string" use="optional" />
        </xs:complexType>
    </xs:element>

    <!-- SideBar Element -->
    <xs:element name="SideBar">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="ChildElements" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="position" type="xs:string" use="optional" />
            <xs:attribute name="description" type="xs:string" use="optional" />
        </xs:complexType>
    </xs:element>


    <!-- Page Element -->
    <xs:element name="Page">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="ChildElements" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="description" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>

    <!-- Website Element -->
    <xs:element name="Website">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Header" minOccurs="0" maxOccurs="1" />
                <xs:element ref="SideBar" minOccurs="0" maxOccurs="1" />
                <xs:element ref="Page" minOccurs="1" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="description" type="xs:string" use="optional" />
        </xs:complexType>
    </xs:element>
</xs:schema>