src/ui_beacon_lang/ui_beacon_validator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning">

    <!--
      Reusable complex type for base attributes
      (name, label, icon, style, description, position, visibleWhen)
    -->
    <xs:complexType name="BaseComponentAttributes">
        <xs:attribute name="name" type="xs:string" use="optional" />
        <xs:attribute name="label" type="xs:string" use="optional" />
        <xs:attribute name="icon" type="xs:string" use="optional" />
        <xs:attribute name="style" type="xs:string" use="optional" />
        <xs:attribute name="description" type="xs:string" use="optional" />
        <xs:attribute name="position" type="xs:string" use="optional" />
        <xs:attribute name="visibleWhen" type="xs:string" use="optional" />
    </xs:complexType>

    <!--
      Reusable complex type for interactive components
      (inherits from BaseComponentAttributes + action)
    -->
    <xs:complexType name="InteractiveComponentAttributes">
        <xs:complexContent>
            <xs:extension base="BaseComponentAttributes">
                <xs:attribute name="action" type="xs:string" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Layout components: Header, SideBar, Footer
         (they can contain child elements, must have position, etc.)
    -->
    <xs:complexType name="LayoutComponent">
        <xs:sequence>
            <xs:group ref="ChildElements" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="position" type="xs:string" use="required" />
        <xs:attribute name="description" type="xs:string" use="optional" />
        <xs:attribute name="visibleWhen" type="xs:string" use="optional" />
    </xs:complexType>

    <!-- Media components: Image, Video
         (they require position, can have optional description, visibleWhen, etc.)
    -->
    <xs:complexType name="MediaComponent">
        <xs:attribute name="position" type="xs:string" use="optional" />
        <xs:attribute name="description" type="xs:string" use="optional" />
        <xs:attribute name="visibleWhen" type="xs:string" use="optional" />
        <xs:attribute name="label" type="xs:string" use="optional" />
        <xs:attribute name="style" type="xs:string" use="optional" />
        <xs:attribute name="name" type="xs:string" use="optional" />
    </xs:complexType>

    <!--
      Group of child elements that can appear inside Pages or inside other child elements.
      This is referenced within layout components (Header, SideBar, Footer) or within Page.
    -->
    <xs:group name="ChildElements">
        <xs:choice>
            <!-- Wrapper components -->
            <xs:element ref="Section" />
            <xs:element ref="Wrapper" />

            <!-- Base components -->
            <xs:element ref="Text" />
            <xs:element ref="List" />

            <!-- Interactive components -->
            <xs:element ref="Button" />
            <xs:element ref="DropDown" />
            <xs:element ref="RadioGroup" />
            <xs:element ref="TextInput" />
            <xs:element ref="Form" />
            <xs:element ref="DateSelector" />
            <xs:element ref="CheckBox" />

            <!-- Navigation components -->
            <xs:element ref="Nav" />
            <xs:element ref="Link" />

            <!-- Media components -->
            <xs:element ref="Image" />
            <xs:element ref="Video" />
        </xs:choice>
    </xs:group>

    <!-- ========================== -->
    <!--         ELEMENTS          -->
    <!-- ========================== -->

    <!-- Section Element -->
    <xs:element name="Section">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BaseComponentAttributes">
                    <xs:sequence>
                        <xs:group ref="ChildElements" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Wrapper Element -->
    <xs:element name="Wrapper">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BaseComponentAttributes">
                    <xs:sequence>
                        <xs:group ref="ChildElements" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                    <xs:attribute name="orientation" use="optional">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="horizontal" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Button Element -->
    <xs:element name="Button">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="InteractiveComponentAttributes" />
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- DropDown Element (can have zero or more <Option> inside) -->
    <xs:element name="DropDown">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="InteractiveComponentAttributes">
                    <xs:choice maxOccurs="unbounded">
                        <xs:element ref="Option" minOccurs="0" />
                    </xs:choice>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- RadioGroup Element (can have zero or more <Option> inside) -->
    <xs:element name="RadioGroup">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="InteractiveComponentAttributes">
                    <xs:choice maxOccurs="unbounded">
                        <xs:element ref="Option" minOccurs="0" />
                    </xs:choice>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- TextInput Element (can have a 'placeholder' attribute) -->
    <xs:element name="TextInput">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="InteractiveComponentAttributes">
                    <xs:attribute name="placeholder" type="xs:string" use="optional" />
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Form Element (can contain any child elements) -->
    <xs:element name="Form">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="InteractiveComponentAttributes">
                    <xs:sequence>
                        <xs:group ref="ChildElements" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- DateSelector Element -->
    <xs:element name="DateSelector">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="InteractiveComponentAttributes" />
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- CheckBox Element -->
    <xs:element name="CheckBox">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="InteractiveComponentAttributes" />
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Text Element (must have a 'value' attribute) -->
    <xs:element name="Text">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BaseComponentAttributes">
                    <xs:attribute name="value" type="xs:string" use="required" />
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- List Element (can have zero or one <ListItem>) -->
    <xs:element name="List">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BaseComponentAttributes">
                    <xs:sequence>
                        <xs:element ref="ListItem" minOccurs="0" maxOccurs="1" />
                    </xs:sequence>
                    <xs:attribute name="orientation" use="optional">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="horizontal" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Option Element (required 'value' attribute) -->
    <xs:element name="Option">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="InteractiveComponentAttributes">
                    <xs:attribute name="value" type="xs:string" use="required" />
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- ListItem Element (can contain other child elements) -->
    <xs:element name="ListItem">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BaseComponentAttributes">
                    <xs:sequence>
                        <xs:group ref="ChildElements" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Nav Element (extends Base; has a required 'to' attribute) -->
    <xs:element name="Nav">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BaseComponentAttributes">
                    <xs:sequence>
                        <xs:group ref="ChildElements" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                    <xs:attribute name="to" type="xs:string" use="required" />
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Link Element (extends Base; has a required 'to' attribute) -->
    <xs:element name="Link">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BaseComponentAttributes">
                    <xs:attribute name="to" type="xs:string" use="required" />
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Image Element (extends MediaComponent) -->
    <xs:element name="Image">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="MediaComponent" />
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Video Element (extends MediaComponent) -->
    <xs:element name="Video">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="MediaComponent" />
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Header Element (extends LayoutComponent) -->
    <xs:element name="Header">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="LayoutComponent" />
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- SideBar Element (extends LayoutComponent) -->
    <xs:element name="SideBar">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="LayoutComponent" />
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Footer Element (extends LayoutComponent) -->
    <xs:element name="Footer">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="LayoutComponent" />
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <!-- Page Element: Must have 'name' attribute, optional 'description' -->
    <xs:element name="Page">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="ChildElements" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="description" type="xs:string" use="optional" />
        </xs:complexType>
    </xs:element>

    <!-- App Element: Must have 'name' attribute, optional 'description' -->
    <xs:element name="App">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Header" minOccurs="0" maxOccurs="1" />
                <xs:element ref="SideBar" minOccurs="0" maxOccurs="1" />
                <xs:element ref="Page" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="Footer" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="description" type="xs:string" use="optional" />
        </xs:complexType>
    </xs:element>
</xs:schema>
